// sty;es for the content

.content-card {
    padding: 25px;
    margin: 10px;
    border: 1px solid #121112;
    
  }
  
  .first-item {
    padding: 15px;
    margin: 20px;
    border: 2px solid rgb(140, 10, 10);
    
  }

  .contentItem.imgUrl.imgUrl {
    max-width: 100%;
    height: auto;
    cursor: pointer; 
}