<div class="content-card" *ngIf="contentItem.imgURL !== ' '">
    <!-- draw an element to the page -->
      
    <img [src]="contentItem.imgUrl" *ngIf="contentItem.imgUrl; else defaultImage" alt="{{ contentItem.title }}" class="content-card-image" height="250px">
            <ng-template #defaultImage>
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f5/UEFA_Champions_League.svg/450px-UEFA_Champions_League.svg.png" 
              height="250px">
            </ng-template>
    
              <h2>{{ contentItem.title }}</h2>
              <p><strong>Description:</strong> {{ contentItem.description }}</p>
              <p><strong>Host:</strong> {{ contentItem.creator }}</p>
              <p *ngIf="contentItem.type" appHoverAffect><strong>Type: </strong>{{ contentItem.type }}</p>
              <p *ngIf="contentItem.tags && contentItem.tags.length > 0"> <strong>Tags: </strong>
              <span *ngFor="let tag of contentItem.tags" appHoverAffect [affectType]="'bold'">{{ tag }}, </span>
              </p>
    
</div>
